
.root {
    display: grid;
    grid-template:
    ".     .       .     .      .    " 72px
    ".     head    .     total  .    " 55px
    ".     .       .     total  .    " 55px
    ".     table   .     total  .    "
    ".     .       .     .      .    "
    /100px 1fr     30px  393px  100px;

    /*grid-template-columns: 100px 1fr     1fr       1fr     1fr    215px    30px  393px  100px;*/
}

.total {
    grid-area: total;
    background-color: #F9F1E7;

    /*.title {*/
    /*    font-size: 32px;*/
    /*}*/
}

.head {
    grid-area: head;
    background-color: #F9F1E7;
    display: flex;
    align-items: center;
    gap: 36px
}

.table {
    grid-area: table;

    display: grid;
}
/*.image_title {*/
/*    grid-area: image_t;*/
/*    background-color: #F9F1E7;*/
/*    justify-content: center;*/
/*}*/

/*.product_title {*/
/*    grid-area: product_t;*/
/*    background-color: #F9F1E7;*/
/*    align-content: center;*/
/*}*/

/*.price_title {*/
/*    grid-area: price_t;*/
/*    background-color: #F9F1E7;*/
/*    align-content: center;*/
/*}*/

/*.quantity_title {*/
/*    grid-area: quan_t;*/
/*    background-color: #F9F1E7;*/
/*    align-content: center;*/
/*}*/

/*.subtotal_title {*/
/*    grid-area: sub_t;*/
/*    background-color: #F9F1E7;*/
/*    align-content: center;*/
/*}*/

/*.picture {*/
/*    grid-area: image;*/

/*}*/