.root {
    display: flex;
    gap: 15px;
}

.item {
    position: relative;
    cursor: pointer;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: none;
    transition: 250ms;
}

.item:hover {
    box-shadow: 0 5px 15px #AAAA;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B88E2F;
    color: #FFF;

    font-size: 14px;
}