.root {
    display: flex;
    gap: 15px;
}

.item {
    cursor: pointer;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: none;
    transition: 250ms;
}

.item:hover {
    box-shadow: 0 5px 15px #AAAA;
}