
.root {
    position: relative;

    height: 100%;
    display: grid;
    grid-template:
    ".     .       .   " 28px
    ".     title   .   "
    ".     .       .   " 26px
    ".     line    .   " 1px
    ".     .       .   " 42px
    ".     form    .   " 1fr
    ".     .       .   " 23px
    ".     error   .   "
    ".     .       .   " 8px
    ".     full    .   " 1px
    ".     .       .   " 23px
    ".     buttons .   "
    ".     .       .   " 28px
    / 27px 1fr     22px;
}

.title {
    grid-area: title;
    font-size: 24px;
}

.line {
    grid-area: line;
    background-color: #D9D9D9;
    margin: 0 78px 0 3px;
}

.form {
    grid-area: form;
}

.full_line {
    grid-area: full;
    background-color: #D9D9D9;
}

.buttons {
    grid-area: buttons;
    display: flex;
    gap: 14px;

    .item {
        cursor: pointer;
        padding: 6px 30px;
        border-radius: 15px;
        background-color: #FFF;
        border: 1px solid #000;
        transition: 250ms;
    }

    .item:hover {
        box-shadow: 0 5px 15px #AAAA;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.error {
    grid-area: error;
    font-size: 16px;
    color: #FF0000;
}

