html,
body {
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex: 1;
    max-width: 1920px;
    width: 100%;
    align-self: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
