
.poppins_thin {
    font-family: Poppins, sans-serif;
    font-weight: 100;
}

.poppins_extra_light {
    font-family: Poppins, sans-serif;
    font-weight: 200;
}

.poppins_light {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

.poppins_regular {
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.poppins_medium {
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.poppins_semi_bold {
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.poppins_bold {
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

.poppins_extra_bold {
    font-family: Poppins, sans-serif;
    font-weight: 800;
}

.poppins_black {
    font-family: Poppins, sans-serif;
    font-weight: 900;
}