.root {
    height: 446px;
    position: relative;

    background-color: #F4F5F7;

    display: grid;
    grid-template:
    "image   image   image" 1fr
    ".       .       .    " 16px
    ".       title   .    "
    ".       .       .    " 8px
    ".       descr   .    "
    ".       .       .    " 8px
    ".       price   .    "
    ".       .       .    " 30px
    /16px    1fr     16px;
}

.image {
    grid-area: image;
    display: flex;
    align-items: center;

    & img {
        max-width: 100%;
    }
}

.title {
    grid-area: title;
    color: #3A3A3A;
    font-size: 24px;
    line-height: 120%;
}

.description {
    grid-area: descr;
    color: #898989;
    font-size: 16px;
}

.price {
    grid-area: price;
    font-size: 20px;
    line-height: 150%;
}

.substrate {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(58, 58, 58);
    opacity: .72;
    z-index: 5;

    &.show {
        display: block;
    }
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex;
    }
}

.buy {
    cursor: pointer;

    width: 202px;
    height: 48px;
    color: #B88E2F;
    background-color: #FFF;
    border: none;
}