.root {
    height: 446px;
    position: relative;

    background-color: #F4F5F7;

    display: grid;
    grid-template:
    "image   image   image" 300px
    ".       .       .    " 16px
    ".       title   .    " 29px
    ".       .       .    " 8px
    ".       descr   .    " 24px
    ".       .       .    " 8px
    ".       price   .    " 20px
    ".       .       .    " 30px
    /16px    1fr     16px;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;

    & img {
        object-fit: contain;
        max-width: 100%;
    }
}

.title {
    grid-area: title;
    color: #3A3A3A;
    font-size: 24px;
    line-height: 120%;
    overflow: scroll;
}

.description {
    grid-area: descr;
    color: #898989;
    font-size: 16px;
    overflow: hidden;
}

.price {
    grid-area: price;
    font-size: 20px;
    line-height: 150%;
}

