
.root {
    display: grid;
    grid-template:
    "image .    .     .     delete .    " 24px
    "image .    title .     delete .    "
    "image .    .     .     delete .    " 10px
    "image .    price .     delete .    "
    "image .    .     .     delete .    " 28px
    /108px 32px 1fr   32px  20px   18px;
}

.image {
    grid-area: image;
}

.title {
    grid-area: title;
    font-size: 16px;
}

.buy {
    grid-area: price;
    font-size: 12px;
    display: flex;
    gap: 15px;

    align-items: center;

    .count {
        font-size: 16px;
    }

    .cross {
        font-size: 12px;
    }

    .price {
        font-size: 16px;
        color: #B88E2F;
    }
}

.delete {
    cursor: pointer;
    grid-area: delete;
    align-self: center;
    border-radius: 50%;
    transition: 250ms;
    outline: 2px solid #FFF;
    outline-offset: 2px;

    &:hover {
        outline: 2px solid #B88E2F;
        outline-offset: 2px;
    }
}