.root {
    height: 316px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
}

.list {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.item {
    font-size: 16px;
}