.root {
    display: grid;
    grid-template:
    "image .    .     .     delete .    " 24px
    "image .    title .     delete .    "
    "image .    .     .     delete .    " 8px
    "image .    price .     delete .    "
    "image .    .     .     delete .    " 28px
    /108px 32px 1fr   32px  20px   18px;
}

.image {
    grid-area: image;
    display: flex;
    align-items: center;

    img {
        max-width: 100%;
    }
}

.title {
    grid-area: title;
    font-size: 16px;
}

.buy {
    grid-area: price;
    font-size: 12px;
    display: flex;
    gap: 15px;

    align-items: center;

    .count {
        font-size: 16px;
        border: none;
        width: 30px;
        background: none;
    }

    .cross {
        font-size: 12px;
    }

    .price {
        font-size: 16px;
        color: #B88E2F;
    }
}

.delete {
    grid-area: delete;
    align-self: center;
}